.main {
  width: 100%;
}

.header {
  width: 100%;
  padding: 2rem;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 1rem -0.3rem black;
}

.nav {
  width: min(100% - 30rem);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 1rem;
}

.item {
  font-weight: 500;
}

.flex {
  display: flex;
  gap: 4rem;
}

.icon {
  display: flex;
  gap: 1.3rem;
}

.section {
  width: 100%;
  height: 40rem;
  background-image: url('../assets/q.jpg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
  margin-inline-end: 5rem;
}

.btn {
  width: 7rem;
  padding: 0.7rem;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.category {
  width: min(100% - 30rem);
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  gap: 1rem;
}

.card {
  width: 20rem;
  height: 18rem;
  background-image: url('../assets/f.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.categoryText {
  width: 5rem;
  height: auto;
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #fff;
  color: #000;
}

.product {
  width: min(100% - 24rem);
  margin: 3rem auto;
}

.productLane {
  width: 100%;
  padding-inline: 1rem;
  border-bottom: 0.1rem solid black;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.productCard {
  margin-top: 2.5rem;
  width: 20rem;
  height: 25rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 0 0 1rem -0.58rem black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productImage {
  object-fit: contain;
}
