.ProductCredentials {
  width: min(100% - 10rem);
  margin-inline: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.descriptionSection {
  width: 50%;
}
.productSection {
  display: flex;
  gap: 2rem;
}

.imageSection {
  padding: 0rem;
  display: flex;
  gap: 1rem;
}

.image {
  order: 2;
  height: auto;
}

.font {
  font-weight: 200;
  font-size: 2.2rem;
}
.nameInfo {
  border-bottom: 0.1rem solid #000;
}

.underline {
  width: fit-content;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.4rem;
  width: 11rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.back:hover {
  background-color: #0066ff;
  color: #fff;
}

.back:hover .icon {
  background-color: white;
  color: #000;
  font-weight: 800;
  padding: 0.1rem;
  border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;
}

.img {
  width: 100%;
  max-width: 30rem;
  max-height: 30rem;
  object-fit: contain;
  background-color: rgb(255, 255, 255);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.otherImg {
  display: flex;
  gap: 1rem;
}

.smallImage {
  width: 4rem;
  height: 4rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  background-color: rgb(255, 255, 255);
  /* border: 0.1rem solid rgba(0, 0, 0, 0.2); */
}
.active {
  border: 0.1rem solid rgba(0, 38, 255, 0.3);
}

.otherImg {
  display: flex;
  flex-direction: column;
  order: 1;
}

.hide {
  width: 100%;
  max-width: 25rem;
  background-color: rgb(255, 255, 255);
  border: 0.1rem solid rgba(0, 68, 255, 0.3);
}

@media (max-width: 739px) {
  .productSection {
    flex-direction: column;
  }
}
